<div class="container">
    <div class="row">
        <div class="col-8 mx-auto my-5">
            <div class="card">
                <%= image_tag @shop.img.url(:medium), class: "card-img-top" %>
                <div class="card-body">
                    <h4 class="card-title"><%= @shop.name%></h4>
                </div>
                <div id="map"></div>
            </div>
        </div>
    </div>
</div>

<script>
    let map;

    function initMap() {
        // geocoderを初期化
        geocoder = new google.maps.Geocoder()

        map = new google.maps.Map(document.getElementById('map'), {
        // コントローラーで定義した変数から緯度経度を呼び出し、マップの中心に表示
            center: {
            lat: gon.shop.latitude,
            lng: gon.shop.longitude
            },
        // マップの倍率はお好みで
            zoom: 17,
        });

        marker = new google.maps.Marker({
        // コントローラーで定義した変数から緯度経度を呼び出し、マーカーを立てる
            position: {
            lat: gon.shop.latitude,
            lng: gon.shop.longitude
            },
            map: map
        });
    }
</script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API'] %>&callback=initMap">
</script>